.detailed_playlist_img {
  width: 20%;
  padding-right: 1rem;
}

.detailed_playlist_container {
  display: flex;
  margin: 1% 10%;
  text-align: left;
}

.dlt_history_btn{
  margin-top: 1rem;
  position: absolute;
  right: 10%;
}
