@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lobster+Two:ital@1&family=Montserrat:wght@500&family=Roboto:wght@300&family=Sacramento&family=Shadows+Into+Light&display=swap');
.center_img{
  object-fit: cover;
  position: relative;
  margin-left: 50%;
  width: 50%;
}

.splide-slide{
  padding: 0 5%;
}

 .discover_btn{
  font-family: 'Shadows Into Light', cursive;
   margin-top: 2rem;
   font-size: 1.2rem;
   cursor: pointer;
   font-weight: bolder;
}

.home_container{
  margin: 1% 15%;
}

.home_center_section{
  background-color: var(--center-background);
}

.explore_container{
  margin-top: 5rem;
}

.explore_main_container{
  display: grid;
  column-gap: 3rem;
  grid-template-columns:repeat(auto-fit, minmax(350px, 1fr)) ;
}
.overlap_text{
  position: absolute;
  top: 25%;
  left: 17%;
  font-size: 2rem;
  color: var(--white-color);
  width: 30%;
  font-family: 'Shadows Into Light', cursive;
}

